h2 {
    margin-top: 10mm;
    margin-left: 75mm;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}

h4 {
    margin-top: 5mm;
    margin-left: 113mm;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}