html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.detail_page{
  font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 2mm;
}

.text-uppercase{
  font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 4mm;
}

.text-dark{
  font-family: 'Oswald', sans-serif;
    font-weight: 200;
    margin-top: 4mm;
}

.row .text{
  font-family: 'Oswald', sans-serif;
}

img{
  object-fit: cover;
  object-position: 0 30%;
}


@import url("./loading.css");

@import url("./unit.css");

@import url("./units_manager.css");

@import url("./NavBar.css");

@import url("./email.css");
